[Unit]
Description=StepCA (ACME Server)
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/step-ca /etc/traefik/step/ca.json
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
WantedBy=traefik.service